<section class="hero" id="home" style="background-image: url('/assets/images/hero/image.png');">
    <div class="hero-content">
        <h1>40% OFF <br> DESIGNER <br> EYEGLASSES</h1>
        <p>Including Ray-Ban, Oakley, Coach & More</p>
        <div class="cta-group">
            <a href="#" class="btn btn-primary">Shop Eyeglasses</a>
            <a href="#" class="btn btn-primary">Shop Sunglasses</a>
        </div>
        <a href="#" style="display: block; margin-top: 20px; font-weight: 600; text-decoration: underline;">Take
            the Pairfect Match Quiz</a>
    </div>
</section>