<section class="recommendations-section">
    <h2 class="section-title-small">Recommended For You:</h2>
    <div class="recommend-grid">
        <a href="/pages/product-detail.html" class="product-card-link">
            <div class="product-card">
                <img src="/assets/images/products/amelia_e_pam_purple_1773744094353.png" alt="Moschino">
                <div class="card-info">
                    <h3>Moschino MOL546 Tortoise</h3>
                    <p class="price">₹9,877 <span style="color: #e41e26;">₹4,133</span> </p>
                </div>
            </div>
        </a>
        <a href="/pages/product-detail.html" class="product-card-link">
            <div class="product-card">
                <img src="/assets/images/products/amelia_e_nettle_tortoise_glasses_1773744146557.png" alt="Off-White">
                <div class="card-info">
                    <h3>Off-White Style 56 Tortoise</h3>
                    <p class="price">₹25,315 <span style="color: #e41e26;">₹10,657</span> </p>
                </div>
            </div>
        </a>
        <a href="/pages/product-detail.html" class="product-card-link">
            <div class="product-card">
                <img src="/assets/images/products/ray_ban_6363_black_gold_1773744130001.png" alt="Ralph Lauren">
                <div class="card-info">
                    <h3>Ralph Lauren RA7146 Tortoise</h3>
                    <p class="price">₹15,106 <span style="color: #e41e26;">₹8,167</span> </p>
                </div>
            </div>
        </a>
        <a href="/pages/product-detail.html" class="product-card-link">
            <div class="product-card">
                <img src="/assets/images/products/amelia_e_pam_purple_1773744094353.png" alt="Liu Jo">
                <div class="card-info">
                    <h3>Liu Jo LJ2620 Brown/Tortoise</h3>
                    <p class="price">₹7,636 <span style="color: #e41e26;">₹4,582</span></p>
                </div>
            </div>
        </a>
        <button class="carousel-arrow"><i class="fas fa-chevron-right"></i></button>
    </div>
</section>