<section class="container quiz-section">
    <div class="quiz-content">
        <p>Let's Find Your <i>Pairfect</i> Match</p>
        <h2>What type of glasses are you looking for?</h2>
        <div class="quiz-options">
            <div class="quiz-option">
                <i class="fas fa-glasses"></i> Eyeglasses
            </div>
            <div class="quiz-option">
                <i class="fas fa-sun"></i> Sunglasses
            </div>
            <div class="quiz-option">
                <i class="fas fa-check-double"></i> Both
            </div>
        </div>
    </div>
    <div class="quiz-image"
        style="background-image: url('/assets/images/hero/quiz_section_woman_glasses_1773749587605.png');">
    </div>
</section>