<section class="container">
    <h2 class="section-title text-left" style="text-align: left;">Trending Now</h2>
    <div class="product-grid">
        <!-- Products will be injected by main.js -->
    </div>

    <div class="trending-footer">
        <p>Keeping cool requires sunglasses, and at GlassesUSA.com, the best place to buy sunglasses online, we
            have the best sunglasses bar none. With up to 50% off designer and discount sunglasses, enhance your
            look without lightening your wallet.</p>
    </div>
</section>